/* header{
  background-image: url(/pic/police.png);
} */

.header-body{
  background-image: url(/pic/police.png);
  display: block;
  position: relative;
  color: white;
  background-size: cover;
  padding: 0;
  height: 400px;
}
.h1 {
  /* font-family: 'Lora'; */
  font-size: 100px;
  height: 175px;
  /* border: 3px solid green; */
  padding-top: 150px;
}
