body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
}

div {
}

.state_select_div {
	display: inline-block;
}

.pd_select_div {
	display: inline-block;
}

.space {
	width: 50px;
	display: inline-block;
}

h1 {
	font-size: 15px;
	margin-top: 0.4em;
}

h2 {
	font-size: 11px;
	margin-top: 0em;
	font-weight: normal;
}

.tooltip {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 300px;
  height: 450px;
  pointer-events: none;
}

.tooltipBarBG {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 520px;
  height: 580px;
  pointer-events: none;
}

.pdtip {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 300px;
  height: 285px;
  pointer-events: none;
}

.spider-label {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  fill: black;
  font-size: 11px;
  text-align: center;
}

.state-legend {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  fill: white;
  font-size: 11px;
  text-align: center;
}

.loading {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  fill: white;
  font-size: 48px;
  text-align: center;
}

.no-hover {
  pointer-events: none;
}

.legend {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  fill: black;
  font-size: 11px;
  text-align: center;
}

#right-vert {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

#left-vert {
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

div.tooltipBar {	
	position: absolute;			
	text-align: center;			
	width: 30px;					
	height: 14px;					
	padding: 2px;				
	font: 12px sans-serif;		
	background: lightsteelblue;	
	color: black;
	border: 0px;		
	border-radius: 8px;			
	pointer-events: none;			
}

div.tooltipColor {	
	position: absolute;			
	text-align: center;			
	width: 100px;
	height: auto;
	padding: 10px;
	color: black;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	pointer-events: none;
}

.orangeDot {
	fill: #ffab00;
	stroke: #fff;
	height: 10px;
	width: 10px;
	background-color: #ffab00;
	/* border-radius: 50%; */
	display: inline-block;
}

.blueDot {
	fill: #00e1ff;
	stroke: #fff;
	height: 10px;
	width: 10px;
	background-color: #00e1ff;
	/* border-radius: 50%; */
	display: inline-block;
}

strong {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
